<!DOCTYPE HTML>
<html>
	<head>
		<title>Court Cases Priority Scheduling</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
	</head>
	<!-- <div id ="background">  </div> -->
	<body class="homepage is-preload">
		<div id="page-wrapper">
			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="current"><a href={{url_for('home')}}> Home</a></li>	
						<li>
							<a href="https://main.sci.gov.in/" target="_blank"><img src="static/images/emblem.jpeg" id="scImg" alt="Supreme Court Logo"></a>
						</li>	
						<li><a href={{url_for('clerkLogin')}}> Clerk Login </a> </li>
						<li><a href={{url_for('userLogin')}}> User Login</a></li>
						<li><a href={{url_for('judgeLogin')}}> Judge Login</a></li>
					</ul>
				</nav>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<h2>Court Cases Priority Scheduling</h2>
						<p> A project to schedule court cases and allocate judges for Honorable Supreme Court of India</p>
					</div>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-12">

							<!--About-->
									<section>
										<h2 class="major"><span>A solution for scheduling court cases and assigning judges based on equitable principles that ensures justice is accessible to all the individuals</span></h2>
										<p>
											
										</p>
									</section>

							</div>
						</div>
					</div>
				</footer> 

		</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.dropotron.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>